<nav id="sidebar" class="
    w-64 flex-none
    fixed lg:sticky
    top-0 left-0 h-screen
    transform -translate-x-full lg:translate-x-0 transition-transform duration-200 ease-in-out
    bg-gray-50 dark:bg-gray-900
    z-40
    pt-16 lg:pt-6
    flex flex-col items-end
    ">

    <div class="pt-6 pr-6 flex">
        <ul class="space-y-2">
            {% for item in website_config.theme.config.navigation %}
            <li>
                <a href="${ url_for(item.url) }" class="flex justify-end px-4 py-2 text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-lg font-medium">
                    ${ item.text }
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Dark Mode Toggle -->
    <div class="flex mr-9 pt-3 pb-6">
        <button id="theme-toggle" class="inline-flex items-center px-3 py-1.5 text-sm font-medium text-gray-700 dark:text-gray-300 bg-gray-200 dark:bg-gray-700 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-full transition-colors">
            <span id="theme-icon" class="mr-1.5">☾</span>
            <span id="theme-text">Dark</span>
        </button>
    </div>
</nav>
