<div class="listing">
    <table class="table">
        <thead>
            <tr>
            {% if numbered %}
                <th scope="col">#</th>
            {% endif %}
            {% for heading in headings %}
                <th scope="col">${ heading }</th>
            {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in rows %}
            <tr>
                {% if numbered %}
                <th scope="row">${ row.number }</th>
                {% endif %}
                {% for cell in row.cells %}
                <td>
                    ${ cell }
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
